<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Camera</h1>
  <video id="video" width="150" height="150" autoplay></video>
  <button id="snap">Snap Photo</button>
  <canvas id="canvas" width="150" height="150"></canvas>

  <button id="upload">Upload Photo</button>
  
  <script src="/js/jquery.js"></script>  
  <script src="/js/main.js"></script>  
</body>
</html>